JWT_SECRET=secret_key
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=chans
DB_USERNAME=root
DB_PASSWORD=

FRONTEND_URL=http://localhost:5173

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_FIRSTNAME=admin
ADMIN_LASTNAME=admin
ADMIN_EMAIL=admin@yopmail.com
ADMIN_PHONE_NUMBER=+639917727266

SMS_EMAIL=
SMS_PASSWORD=
SMS_APICODE=

SMS_API_TOKEN=
SMS_SENDER_NAME='Ka Prets'
SMS_STATIC_MESSAGE='This is a temporary sms.'

DAILY_APPOINTMENT_LIMIT=50